* {
    background-color: #c2c2d6;
}

h1, h3, p

{
    color: #33334d;
    text-align:center;

}

h3

{

    background-color: rgb(66, 146, 221);
    border-radius: 1em;
    color:white;

    font-size:0.9em;

    margin-bottom:0px;

}

.news p

{

    background-color:#80bfff;
    border-radius: 1em;
    margin-top:0px;

}

.news

{

    width:50%;
   
    margin:auto;

}
.com {
    
    background-color: #80bfff;
    border-radius: 2em;
     width:20%;   
    margin:auto;
}

a

{

    text-decoration: none;
    background-color: #80bfff;

    color: red;

}